project/markup/pages/_template.pug
doctype html
html(class="no-js", lang="uk")

  include ../components/loader/loader
  include ../components/head/head
  include ../components/header/header
  include ../components/footer/footer
  include ../components/b-soc-link/b-soc-link
  include ../components/b-modal-gov/b-modal-gov

  block head

  body

    block loader
      +loader()



    .page-wrapper.l-theme#main-content

      .page-inner

        block header

        block content

      +footer()

      +b-modal-gov()


    script(src='%=static=%js/separate-js/svg4everybody.min.js')
    script svg4everybody();



    // ++++++++++++
    // MAIN SCRIPTS
    // ++++++++++++

    script(src="https://code.jquery.com/jquery-3.3.1.min.js"
    integrity="sha256-FgpCb/KJQlLNfOu91ta32o/NMZxltwRo8QtmkMRdAu8="
    crossorigin="anonymous")
    script(src="https://code.jquery.com/jquery-migrate-1.4.1.min.js")

    // Bootstrap
    script(src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous")
    script(src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous")


    // Select customization
    script(src="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-select/1.13.2/js/bootstrap-select.min.js")

    // Pop-up window
    script(src="assets/plugins/magnific-popup/jquery.magnific-popup.min.js")


    // Accessibility
    script(src="assets/plugins/accessibility/accessibility.min.js")

    // Scale images
    script(src="assets/plugins/ofi.min.js")

    // Slider
    script(src='//cdn.jsdelivr.net/npm/slick-carousel@1.8.1/slick/slick.min.js')


    block scripts

    // User customization
    script(src='assets/js/custom.js')

project/dev/_template.html
<!DOCTYPE html>
<html class="no-js" lang="uk">
  <body>
      <!-- Loader-->
      <div id="page-preloader"><span class="spinner border-t_second_b border-t_prim_a"></span></div>
      <!-- Loader end-->
    <div class="page-wrapper l-theme" id="main-content">
      <div class="page-inner">
      </div>
        <footer class="footer">
          <div class="container">
            <div class="row">
              <div class="col-md-5">
                <div class="footer-main">
                  <div class="footer-logo"><span class="footer-logo__item"><a class="footer-logo__link" href="#"><img class="img-fluid" src="assets/media/general/logo-light.png" alt="Логотип"></a></span></div>
                  <div class="footer__title">Інформаційний портал<span class="footer__title-sm">м. Львів</span></div><a class="footer__btn btn btn-white" href="#">Зворотній зв'язок</a>
                </div>
              </div>
              <div class="col-md-7">
                <div class="row">
                  <div class="col-md-6">
                    <div class="footer-section">
                      <div class="footer-section__title">Меню</div>
                      <ul class="footer-list list-unstyled">
                        <li class="footer-list__item"><a class="footer-list__link" href="#">Про проект</a></li>
                        <li class="footer-list__item"><a class="footer-list__link" href="#">Інструкції</a></li>
                        <li class="footer-list__item"><a class="footer-list__link" href="#">Нормативно-правова база</a></li>
                        <li class="footer-list__item"><a class="footer-list__link" href="#">Повідомити про технічни негаразди або пропозиції</a></li>
                        <li class="footer-list__item"><a class="footer-list__link" href="#">Сервіси</a></li>
                      </ul>
                    </div>
                  </div>
                  <div class="col-md-6">
                    <div class="footer-section d-none d-md-block">
                      <div class="footer-section__title">Меню</div>
                      <ul class="footer-list list-unstyled">
                        <li class="footer-list__item"><a class="footer-list__link" href="#">Про проект</a></li>
                        <li class="footer-list__item"><a class="footer-list__link" href="#">Інструкції</a></li>
                        <li class="footer-list__item"><a class="footer-list__link" href="#">Нормативно-правова база</a></li>
                        <li class="footer-list__item"><a class="footer-list__link" href="#">Повідомити про технічни негаразди або пропозиції</a></li>
                        <li class="footer-list__item"><a class="footer-list__link" href="#">Сервіси</a></li>
                      </ul>
                    </div>
                  </div>
                </div>
              </div>
            </div>
            <div class="footer-bottom">
              <div class="row align-items-center">
                <div class="col-lg-4">
                  <div class="footer-devel"><a class="footer-devel__img" href="bissoft.org" target="_blank"><img src="assets/media/general/logo-bisoft.png" alt="«БІС-СОФТ»"></a><a class="footer-devel__text" href="bissoft.org" target="_blank">Компанія «БІС-СОФТ»<br>Всі права захищені.</a></div>
                </div>
                <div class="col-lg">
                  <div class="footer-copyright">
            <svg class="ic" width="30" height="30">
                <use xlink:href="../svg-symbols.svg#creative-commons"></use>
            </svg>
        
                    <div class="footer-copyright__info">Всі матеріали сайту доступні за ліцензією: Creative Commons «Attribution» 4.0 Всесвітня</div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </footer>
        <div class="modal fade" id="modalGov" tabindex="-1" role="dialog" aria-hidden="true">
          <div class="modal-dialog modalGov" role="document">
            <div class="wrap">
              <ul class="wrap-link">
                <li><a href="https://www.president.gov.ua/" target="_blank">Президент України</a></li>
                <li><a href="https://rada.gov.ua/" target="_blank"> Верховна Рада України</a></li>
              </ul>
              <ul class="wrap-link">
                <li><a href="http://www.ccu.gov.ua/" target="_blank">Конституційний суд України</a></li>
                <li><a href="http://www.rnbo.gov.ua/" target="_blank">Рада національної безпеки і оборони України</a></li>
              </ul>
              <ul class="wrap-link">
                <li><a href="index.html" target="_blank">Центральні та місцеві органи виконавчої влади</a></li>
              </ul>
              <button class="close" type="button" data-dismiss="modal" aria-label="Close"></button>
            </div>
          </div>
        </div>
        <!-- end .b-modal-gov-->
    </div>
    <script src="/assets/js/separate-js/svg4everybody.min.js"></script>
    <script>svg4everybody();</script>
    <!-- ++++++++++++-->
    <!-- MAIN SCRIPTS-->
    <!-- ++++++++++++-->
    <script src="https://code.jquery.com/jquery-3.3.1.min.js" integrity="sha256-FgpCb/KJQlLNfOu91ta32o/NMZxltwRo8QtmkMRdAu8=" crossorigin="anonymous"></script>
    <script src="https://code.jquery.com/jquery-migrate-1.4.1.min.js"></script>
    <!-- Bootstrap-->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>
    <!-- Select customization-->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-select/1.13.2/js/bootstrap-select.min.js"></script>
    <!-- Pop-up window-->
    <script src="assets/plugins/magnific-popup/jquery.magnific-popup.min.js"></script>
    <!-- Accessibility-->
    <script src="assets/plugins/accessibility/accessibility.min.js"></script>
    <!-- Scale images-->
    <script src="assets/plugins/ofi.min.js"></script>
    <!-- Slider-->
    <script src="//cdn.jsdelivr.net/npm/slick-carousel@1.8.1/slick/slick.min.js"></script>
    <!-- User customization-->
    <script src="assets/js/custom.js"></script>
  </body>
</html>
