project/dev/all.html
<!DOCTYPE html>
<html class="no-js" lang="uk">
  <head>
      <meta charset="utf-8">
      <meta http-equiv="x-ua-compatible" content="ie=edge">
      <title>Інформаційний портал / Індекс</title>
      <meta content="" name="description">
      <meta content="" name="keywords">
      <meta name="viewport" content="width=device-width, initial-scale=1.0">
      <meta content="telephone=no" name="format-detection">
      <meta name="HandheldFriendly" content="true">
      <link href="assets/css/master.css" rel="stylesheet">
      <link rel="icon" type="image/x-icon" href="favicon.ico">
      <script>(function(H){H.className=H.className.replace(/\bno-js\b/,'js')})(document.documentElement)</script>
  </head>
  <body>
      <!-- Loader-->
      <div id="page-preloader"><span class="spinner border-t_second_b border-t_prim_a"></span></div>
      <!-- Loader end-->
    <div class="page-wrapper l-theme" id="main-content">
      <div class="page-inner">
        <main class="l-content">
          <div class="container">
            <div class="section-default text-center pb-5">
              <h1>Сторінки</h1>
              <ol class="list-page" style="text-align: left;">
                <li><a class="text-success" href="index.html" target="_blank">Головна</a></li>
                <li><a class="text-success" href="index_login.html" target="_blank">Головна вхід</a></li>
                <li><a class="text-success" href="events.html" target="_blank">Актуальні події</a></li>
                <li><a class="text-success" href="events-2.html" target="_blank">Рекомендовані події</a></li>
                <li><a class="text-success" href="news.html" target="_blank">Новини</a></li>
                <li><a class="text-success" href="hostels.html" target="_blank">Готелі</a></li>
                <li><a class="text-success" href="business.html" target="_blank">Бізнес</a></li>
                <li><a class="text-success" href="news-item.html" target="_blank">Новина</a></li>
                <li><a class="text-success" href="event-item.html" target="_blank">Подія</a></li>
                <li><a class="text-success" href="event-item-2.html" target="_blank">Заклад</a></li>
                <li><a class="text-success" href="hostels-item.html" target="_blank">Готель</a></li>
                <li><a class="text-success" href="plan-trip.html" target="_blank">Сплануй подорож</a></li>
                <li><a class="text-success" href="transport.html" target="_blank">Громадський транспорт</a></li>
                <li><a class="text-success" href="food.html" target="_blank">Їжа</a></li>
                <li><a class="text-success" href="invest.html" target="_blank">Інвестеційні проекти</a></li>
                <li><a class="text-success" href="about.html" target="_blank">Про Львів</a></li>
                <li><a class="text-success" href="guides.html" target="_blank">Путівники та карти</a></li>
                <li><a class="text-success" href="city.html" target="_blank">Твій Львів</a></li>
                <li><a class="text-success" href="top.html" target="_blank">Топові  місця</a></li>
                <li><a class="text-success" href="login.html" target="_blank">Логін</a></li>
                <li><a class="text-success" href="registration.html" target="_blank">Реєстрація</a></li>
              </ol>
            </div>
          </div>
        </main>
        <div class="page__buffer"></div>
      </div>
        <footer class="footer">
          <div class="container">
            <div class="row">
              <div class="col-md-5">
                <div class="footer-main">
                  <div class="footer-logo"><span class="footer-logo__item"><a class="footer-logo__link" href="#"><img class="img-fluid" src="assets/media/general/logo-light.png" alt="Логотип"></a></span></div>
                  <div class="footer__title">Інформаційний портал<span class="footer__title-sm">м. Львів</span></div><a class="footer__btn btn btn-white" href="#">Зворотній зв'язок</a>
                </div>
              </div>
              <div class="col-md-7">
                <div class="row">
                  <div class="col-md-6">
                    <div class="footer-section">
                      <div class="footer-section__title">Меню</div>
                      <ul class="footer-list list-unstyled">
                        <li class="footer-list__item"><a class="footer-list__link" href="#">Про проект</a></li>
                        <li class="footer-list__item"><a class="footer-list__link" href="#">Інструкції</a></li>
                        <li class="footer-list__item"><a class="footer-list__link" href="#">Нормативно-правова база</a></li>
                        <li class="footer-list__item"><a class="footer-list__link" href="#">Повідомити про технічни негаразди або пропозиції</a></li>
                        <li class="footer-list__item"><a class="footer-list__link" href="#">Сервіси</a></li>
                      </ul>
                    </div>
                  </div>
                  <div class="col-md-6">
                    <div class="footer-section d-none d-md-block">
                      <div class="footer-section__title">Меню</div>
                      <ul class="footer-list list-unstyled">
                        <li class="footer-list__item"><a class="footer-list__link" href="#">Про проект</a></li>
                        <li class="footer-list__item"><a class="footer-list__link" href="#">Інструкції</a></li>
                        <li class="footer-list__item"><a class="footer-list__link" href="#">Нормативно-правова база</a></li>
                        <li class="footer-list__item"><a class="footer-list__link" href="#">Повідомити про технічни негаразди або пропозиції</a></li>
                        <li class="footer-list__item"><a class="footer-list__link" href="#">Сервіси</a></li>
                      </ul>
                    </div>
                  </div>
                </div>
              </div>
            </div>
            <div class="footer-bottom">
              <div class="row align-items-center">
                <div class="col-lg-4">
                  <div class="footer-devel"><a class="footer-devel__img" href="bissoft.org" target="_blank"><img src="assets/media/general/logo-bisoft.png" alt="«БІС-СОФТ»"></a><a class="footer-devel__text" href="bissoft.org" target="_blank">Компанія «БІС-СОФТ»<br>Всі права захищені.</a></div>
                </div>
                <div class="col-lg">
                  <div class="footer-copyright">
            <svg class="ic" width="30" height="30">
                <use xlink:href="../svg-symbols.svg#creative-commons"></use>
            </svg>
        
                    <div class="footer-copyright__info">Всі матеріали сайту доступні за ліцензією: Creative Commons «Attribution» 4.0 Всесвітня</div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </footer>
        <div class="modal fade" id="modalGov" tabindex="-1" role="dialog" aria-hidden="true">
          <div class="modal-dialog modalGov" role="document">
            <div class="wrap">
              <ul class="wrap-link">
                <li><a href="https://www.president.gov.ua/" target="_blank">Президент України</a></li>
                <li><a href="https://rada.gov.ua/" target="_blank"> Верховна Рада України</a></li>
              </ul>
              <ul class="wrap-link">
                <li><a href="http://www.ccu.gov.ua/" target="_blank">Конституційний суд України</a></li>
                <li><a href="http://www.rnbo.gov.ua/" target="_blank">Рада національної безпеки і оборони України</a></li>
              </ul>
              <ul class="wrap-link">
                <li><a href="index.html" target="_blank">Центральні та місцеві органи виконавчої влади</a></li>
              </ul>
              <button class="close" type="button" data-dismiss="modal" aria-label="Close"></button>
            </div>
          </div>
        </div>
        <!-- end .b-modal-gov-->
    </div>
    <script src="/assets/js/separate-js/svg4everybody.min.js"></script>
    <script>svg4everybody();</script>
    <!-- ++++++++++++-->
    <!-- MAIN SCRIPTS-->
    <!-- ++++++++++++-->
    <script src="https://code.jquery.com/jquery-3.3.1.min.js" integrity="sha256-FgpCb/KJQlLNfOu91ta32o/NMZxltwRo8QtmkMRdAu8=" crossorigin="anonymous"></script>
    <script src="https://code.jquery.com/jquery-migrate-1.4.1.min.js"></script>
    <!-- Bootstrap-->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>
    <!-- Select customization-->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-select/1.13.2/js/bootstrap-select.min.js"></script>
    <!-- Pop-up window-->
    <script src="assets/plugins/magnific-popup/jquery.magnific-popup.min.js"></script>
    <!-- Accessibility-->
    <script src="assets/plugins/accessibility/accessibility.min.js"></script>
    <!-- Scale images-->
    <script src="assets/plugins/ofi.min.js"></script>
    <!-- Slider-->
    <script src="//cdn.jsdelivr.net/npm/slick-carousel@1.8.1/slick/slick.min.js"></script>
    <!-- User customization-->
    <script src="assets/js/custom.js"></script>
  </body>
</html>

project/markup/pages/all.pug
extends _template.pug

block head
  head
    +head(head.defaults)

block content

  main.l-content
    .container

      .section-default.text-center.pb-5
        h1 Сторінки
        ol.list-page(style="text-align: left;")
          li
            a.text-success(href="index.html" target="_blank") Головна
          li
            a.text-success(href="index_login.html" target="_blank") Головна вхід
          li
            a.text-success(href="events.html" target="_blank") Актуальні події
          li
            a.text-success(href="events-2.html" target="_blank") Рекомендовані події
          li
            a.text-success(href="news.html" target="_blank") Новини
          li
            a.text-success(href="hostels.html" target="_blank") Готелі
          li
            a.text-success(href="business.html" target="_blank") Бізнес
          li
            a.text-success(href="news-item.html" target="_blank") Новина
          li
            a.text-success(href="event-item.html" target="_blank") Подія
          li
            a.text-success(href="event-item-2.html" target="_blank") Заклад
          li
            a.text-success(href="hostels-item.html" target="_blank") Готель
          li
            a.text-success(href="plan-trip.html" target="_blank") Сплануй подорож
          li
            a.text-success(href="transport.html" target="_blank") Громадський транспорт
          li
            a.text-success(href="food.html" target="_blank") Їжа
          li
            a.text-success(href="invest.html" target="_blank") Інвестеційні проекти
          li
            a.text-success(href="about.html" target="_blank") Про Львів
          li
            a.text-success(href="guides.html" target="_blank") Путівники та карти
          li
            a.text-success(href="city.html" target="_blank") Твій Львів
          li
            a.text-success(href="top.html" target="_blank") Топові  місця
          li
            a.text-success(href="login.html" target="_blank") Логін
          li
            a.text-success(href="registration.html" target="_blank") Реєстрація

  .page__buffer
